# All files are checked into the repository with LF
* text=auto
# These files are checked out from the repository using LF locally
*.ALIAS text eol=lf
*.BAS text eol=lf
*.BAS36 text eol=lf
*.BAS38 text eol=lf
*.BND text eol=lf
*.BNDDIR text eol=lf
*.C text eol=lf
*.CBL text eol=lf
*.CBLLE text eol=lf
*.CBL36 text eol=lf
*.CBL38 text eol=lf
*.CHKCST text eol=lf
*.CLD text eol=lf
*.CLE text eol=lf
*.CLLE text eol=lf
*.CLP text eol=lf
*.CLP38 text eol=lf
*.CMD text eol=lf
*.CMD38 text eol=lf
*.CPP text eol=lf
*.CTAS text eol=lf
*.DSPF text eol=lf
*.DSPF36 text eol=lf
*.DSPF38 text eol=lf
*.ENVVAR text eol=lf
*.FTN text eol=lf
*.FUNCTION text eol=lf
*.ICFF text eol=lf
*.IDYCOL text eol=lf
*.INDEX text eol=lf
*.LF text eol=lf
*.LF38 text eol=lf
*.MENU text eol=lf
*.MNU text eol=lf
*.MNU36 text eol=lf
*.MNUCMD text eol=lf
*.MNUCMD36 text eol=lf
*.MNUDDS text eol=lf
*.MNUDDS36 text eol=lf
*.MSGF36 text eol=lf
*.MQT text eol=lf
*.OCL36 text eol=lf
*.PAS text eol=lf
*.PF text eol=lf
*.PF38 text eol=lf
*.PLI text eol=lf
*.PLI38 text eol=lf
*.PNLGRP text eol=lf
*.PRIKEY text eol=lf
*.PROCEDURE text eol=lf
*.PRTF text eol=lf
*.PRTF38 text eol=lf
*.QRY38 text eol=lf
*.REFCST text eol=lf
*.REXX text eol=lf
*.RPG text eol=lf
*.RPGLE text eol=lf
*.RPG36 text eol=lf
*.RPT text eol=lf
*.RPT36 text eol=lf
*.RPT38 text eol=lf
*.SEQUENCE text eol=lf
*.SQLC text eol=lf
*.SQLCBL text eol=lf
*.SQLCBLLE text eol=lf
*.SQLCPP text eol=lf
*.SQLFTN text eol=lf
*.SQLPLI text eol=lf
*.SQLRPG text eol=lf
*.SQLRPGLE text eol=lf
*.SRT36 text eol=lf
*.TABLE text eol=lf
*.TBL text eol=lf
*.TEMPORAL text eol=lf
*.TRIGGER text eol=lf
*.TXT text eol=lf
*.TXT36 text eol=lf
*.TYPE text eol=lf
*.UNQCST text eol=lf
*.VARIABLE text eol=lf
*.VIEW text eol=lf
*.xml text eol=lf
*.properties text eol=lf
*.project text eol=lf
*.savf binary
